<!-- Footer Area -->
<footer class="footer-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-widget">
                    <div class="footer-logo">
                        <a routerLink="/"><img src="assets/img/logo.png" alt="Images" style="height: 260px;"></a>
                    </div>

                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <div class="footer-widget">
                    <h3>Useful Links</h3>

                    <ul class="footer-list">
                        <li><a routerLink="/">Home</a></li>
                        <li><a routerLink="/services">Services</a></li>
                        <li><a routerLink="/contact">Contact Us</a></li>
                        <li><a routerLink="/about">About Us</a></li>
                        <li><a routerLink="/prices">Pricing</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3>Other Resources</h3>

                    <ul class="footer-list">
                        <li><a routerLink="/">Learning Videos</a></li>
                        <li><a routerLink="/tos">Terms of Service</a></li>
                        <li><a routerLink="/tos">Privacy Policy</a></li>
                        <li><a routerLink="/contact">Support</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget pl-2">
                    <div class="footer-widget">
                        <h3>Address</h3>

                        <ul class="footer-list-two">
                            <li>
                                <i class='bx bx-time'></i>
                                Sun - Fri: 8.00am - 6.00pm
                            </li>
                            <li>
                                <i class='bx bx-home-smile'></i>
                                <a href="https://www.google.com/maps/place/Renegade+Automotive+Detail/@41.5626544,-88.2620521,17z/data=!3m1!4b1!4m5!3m4!1s0x880e8d731f306963:0x44b68236740bdfca!8m2!3d41.5626544!4d-88.2598634" target="_blank">
                                    2308 Carpenter Ave, <br> Plainfield, IL 60586</a>
                            </li>
                            <li>
                                <i class='bx bx-phone'></i>
                                <a href="tel:+815-814-6124">(815) 814-6124)</a>
                            </li>
                            <li>
                                <i class='bx bxs-envelope'></i>
                                <a href="mailto:RenegadeDetailingInfo@gmail.com">RenegadeDetailingInfo@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

<!-- Copyright Area -->
<div class="copy-right-area">
    <div class="container">
        <div class="copy-right-text text-center">
            <p>Copyright @{{ currentYear }} <b>Renegade Automotive Detailing</b> All Rights Reserved</p>
        </div>
    </div>
</div>

<!-- Copyright Area End -->
