<!-- Masthead -->

<!-- End of header -->

<!-- Channel Banner -->
<section class="channel-banner"></section>
<!-- End of channel banner -->

<!-- Channel Info -->
<section class="channel-info">
    <div class="container">
        <div class="channel-icon">
            <img src="../../../../assets/img/logo.png" alt="" />
        </div>

        <div class="channel-title">
            <h1>
                Renegade Automotive Detailing<i class="fas fa-check-circle"></i>
            </h1>

            <div class="channel-subscriber-count">
                Find exactly what you're looking for
            </div>
        </div>
    </div>
</section>
<!-- End of channel info section -->

<!-- Channel navigation -->
<nav class="channel-nav">
    <div class="container">
        <ul>
            <li class="nav-item">
                <a href="#" class="current">Home</a>
            </li>

            <li class="nav-item">
                <a href="#">Videos</a>
            </li>

            <li class="nav-item">
                <a href="#">Playlists</a>
            </li>

            <li class="nav-item">
                <a href="#">Community</a>
            </li>

            <li class="nav-item">
                <a href="#">Channels</a>
            </li>

            <li class="nav-item">
                <a href="#">About</a>
            </li>
        </ul>
    </div>
</nav>
<!-- End of channel navigation -->

<!-- Channel main content -->
<main class="channel-content">
    <div class="container">
        <!-- Channel videos -->
        <section class="channel-videos">
            <div class="featured-video">
                <div class="video-thumbnail">
                    <iframe
                        width="560"
                        height="315"
                        src="https://www.youtube.com/embed/KY-8KyRrOuE"
                        title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen
                    ></iframe>
                </div>

                <div class="video-info">
                    <h3 class="video-title">
                        Everything You Need To Know About Ceramic Coatings
                    </h3>
                    <ul class="video-meta-data">
                        <li class="video-creator">
                            Engineering Explained<i
                                class="fas fa-check-circle"
                            ></i>
                        </li>
                        <li class="video-views">2.4m views</li>
                        <li class="video-upload-date">Apr 10, 2019</li>
                    </ul>
                    <p class="video-description">
                        How Ceramic Coatings Work - What Is The Best Ceramic
                        Coating? We are learning all about the world of ceramic
                        coatings! We'll learn: What is a 9H ceramic coating? How
                        much do ceramic coatings cost? How to apply a ceramic
                        coating? What is a nano coating? ...
                    </p>
                </div>
            </div>

            <div class="vlogs-playlist playlist">
                <h2 class="playlist-title">Everything You Need to Know</h2>

                <div class="playlist-videos">
                    <div class="playlist-video" tabindex="0">
                        <div class="video-thumbnail">
                            <iframe
                                width="250"
                                height="120"
                                src="https://www.youtube.com/embed/kKpdfoXgIJ4"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                            ></iframe>
                        </div>

                        <div class="video-info">
                            <h3 class="video-title">
                                Does Ceramic Coating RUIN Your Paint?!
                            </h3>
                            <ul class="video-meta-data">
                                <li class="video-creator">
                                    Fitment Industries
                                    <i class="fas fa-check-circle"></i>
                                </li>
                                <li class="video-views">103K views</li>
                                <li class="video-upload-date">Oct 26, 2020</li>
                            </ul>
                        </div>
                    </div>

                    <div class="playlist-video" tabindex="0">
                        <div class="video-thumbnail">
                            <iframe
                                width="250"
                                height="120"
                                src="https://www.youtube.com/embed/QgoyrC-5CMc"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                            ></iframe>
                        </div>

                        <div class="video-info">
                            <h3 class="video-title">
                                Should you detail a brand new car?
                            </h3>
                            <ul class="video-meta-data">
                                <li class="video-creator">
                                    Pan the Organizer<i
                                        class="fas fa-check-circle"
                                    ></i>
                                </li>
                                <li class="video-views">83K views</li>
                                <li class="video-upload-date">Apr 21, 2021</li>
                            </ul>
                        </div>
                    </div>

                    <div class="playlist-video" tabindex="0">
                        <div class="video-thumbnail">
                            <iframe
                                width="250"
                                height="120"
                                src="https://www.youtube.com/embed/sNo9mWav3Tw"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                            ></iframe>
                        </div>

                        <div class="video-info">
                            <h3 class="video-title">
                                What a $800 Professional Detail looks like
                            </h3>
                            <ul class="video-meta-data">
                                <li class="video-creator">
                                    Donut Media<i
                                        class="fas fa-check-circle"
                                    ></i>
                                </li>
                                <li class="video-views">867K views</li>
                                <li class="video-upload-date">Feb 23, 2022</li>
                            </ul>
                        </div>
                    </div>

                    <div class="playlist-video" tabindex="0">
                        <div class="video-thumbnail">
                            <iframe
                                width="250"
                                height="120"
                                src="https://www.youtube.com/embed/NWwR984Fnpo"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                            ></iframe>
                        </div>

                        <div class="video-info">
                            <h3 class="video-title">
                                Considering a Ceramic Coating? Watch this First!
                            </h3>
                            <ul class="video-meta-data">
                                <li class="video-creator">
                                    Detail Peoria<i
                                        class="fas fa-check-circle"
                                    ></i>
                                </li>
                                <li class="video-views">837K views</li>
                                <li class="video-upload-date">Jan 17, 2020</li>
                            </ul>
                        </div>
                    </div>

                    <div class="playlist-video" tabindex="0">
                        <div class="video-thumbnail">
                            <iframe
                                width="250"
                                height="120"
                                src="https://www.youtube.com/embed/svW7s7KDYtc"
                                title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                            ></iframe>
                        </div>

                        <div class="video-info">
                            <h3 class="video-title">
                                Deep Cleaning a FILTHY Ford
                            </h3>
                            <ul class="video-meta-data">
                                <li class="video-creator">
                                    The Detail Geek
                                    <i class="fas fa-check-circle"></i>
                                </li>
                                <li class="video-views">2.3m views</li>
                                <li class="video-upload-date">March 6, 2020</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="likes-playlist playlist">
                <!-- Start Contact Area -->
                <div class="contact-area pt-100 pb-70">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-12">
                                <div class="contact-form">
                                    <div class="section-title">
                                        <span class="span-bg">CONTACT</span>
                                        <h2>Need a Quote?</h2>
                                        <p>
                                            Drop us a line and we will get back
                                            to you ASAP!
                                        </p>
                                    </div>

                                    <form
                                        id="contactForm"
                                        action="https://formspree.io/f/moqrlyko"
                                        method="POST"
                                    >
                                        <div class="row">
                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <input
                                                        type="text"
                                                        name="name"
                                                        id="name"
                                                        required
                                                        class="form-control"
                                                        placeholder="Name"
                                                    />
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <input
                                                        type="email"
                                                        name="email"
                                                        id="email"
                                                        required
                                                        class="form-control"
                                                        placeholder="Email"
                                                    />
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <input
                                                        type="text"
                                                        name="phone_number"
                                                        id="phone_number"
                                                        class="form-control"
                                                        placeholder="Phone"
                                                    />
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-sm-6">
                                                <div class="form-group">
                                                    <select
                                                        class="form-control"
                                                        name="Service"
                                                    >
                                                        <option
                                                            value="placeholder"
                                                        >
                                                            Select a Service
                                                        </option>
                                                        <option
                                                            value="Interior"
                                                        >
                                                            Premium Interior
                                                            Detail
                                                        </option>
                                                        <option
                                                            value="Exterior"
                                                        >
                                                            Premium Exterior
                                                            Detail
                                                        </option>
                                                        <option
                                                            value="Interior&Exterior"
                                                        >
                                                            Both Interior &
                                                            Exterior Detail
                                                        </option>
                                                        <option value="Ceramic">
                                                            Ceramic Coating
                                                        </option>
                                                        <option value="Other">
                                                            Other
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <textarea
                                                        name="message"
                                                        class="form-control"
                                                        id="message"
                                                        required
                                                        cols="30"
                                                        rows="8"
                                                        placeholder="What is the make and models of your vehicle(s)?"
                                                    ></textarea>
                                                </div>
                                            </div>

                                            <div class="col-lg-12 col-md-12">
                                                <button
                                                    type="submit"
                                                    class="default-btn"
                                                >
                                                    Send Message
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-12">
                                <div class="contact-sidebar">
                                    <h2>Contact Details</h2>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-4">
                                            <div class="contact-card">
                                                <i class="bx bx-home-smile"></i>
                                                <div class="content">
                                                    <h3>Address</h3>
                                                    <p>2308 Carpenter Ave,</p>
                                                    <span>Plainfield, IL</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-4">
                                            <div class="contact-card">
                                                <i class="bx bx-phone-call"></i>
                                                <div class="content">
                                                    <h3>Phone</h3>
                                                    <p>
                                                        <a
                                                            href="tel:+815-814-6124"
                                                            >(815) 814-6124</a
                                                        >
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-12 col-md-4">
                                            <div class="contact-card">
                                                <i class="bx bxs-envelope"></i>
                                                <div class="content">
                                                    <h3>Email</h3>
                                                    <p>
                                                        <a
                                                            href="mailto:keagan@artfin.com"
                                                            >info@renegadedetail.com</a
                                                        >
                                                    </p>
                                                    <span
                                                        ><a
                                                            href="mailto:latarewiczkeagan@gmail.com"
                                                            >latarewiczkeagan@gmail.com</a
                                                        ></span
                                                    >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Contact Area End -->
            </div>
        </section>

        <!-- Recommended channels -->
        <section class="recommended-channels">
            <div class="recommended-channels-group">
                <h2 class="recommended-channels-heading">Featured Channels</h2>

                <div class="recommended-channel">
                    <div class="recommended-channel-icon">
                        <img
                            src="https://yt3.ggpht.com/ytc/AKedOLR-s6aMOF4aHm26Hs5RCB4_lltJFiOILIaqFOWJVA=s88-c-k-c0x00ffffff-no-rj"
                            alt=""
                        />
                    </div>

                    <h3 class="recommended-channel-title">The Detail Geek</h3>

                    <button class="recommended-channel-subscribe btn">
                        Subscribed
                    </button>
                </div>

                <div class="recommended-channel">
                    <div class="recommended-channel-icon">
                        <img
                            src="https://yt3.ggpht.com/ytc/AKedOLQQ7rSkz0vBb6WA8cpvBX32OwSedeVbviSGvN9QVA=s88-c-k-c0x00ffffff-no-rj"
                            alt=""
                        />
                    </div>

                    <h3 class="recommended-channel-title">AMMO NYC</h3>

                    <button class="recommended-channel-subscribe btn">
                        Subscribed
                    </button>
                </div>
            </div>

            <div class="recommended-channels-group">
                <h2 class="recommended-channels-heading">Related Channels</h2>

                <div class="recommended-channel">
                    <div class="recommended-channel-icon">
                        <img
                            src="https://yt3.ggpht.com/ytc/AKedOLSJBhRbHpAEIkxSZb9sqN4PjYsz1ydOz0PfGkmsow=s88-c-k-c0x00ffffff-no-rj"
                            alt=""
                        />
                    </div>

                    <h3 class="recommended-channel-title">Pan The Organizer</h3>

                    <button class="recommended-channel-subscribe btn">
                        Subscribed
                    </button>
                </div>

                <div class="recommended-channel">
                    <div class="recommended-channel-icon">
                        <img
                            src="https://yt3.ggpht.com/ytc/AKedOLT4pNctdcMK6N3Vcb9Rwlpq0yr_fuC0LskkpaED=s88-c-k-c0x00ffffff-no-rj"
                            alt=""
                        />
                    </div>

                    <h3 class="recommended-channel-title">M.A.D DETAILING</h3>

                    <button class="recommended-channel-subscribe btn">
                        Subscribe
                    </button>
                </div>

                <div class="recommended-channel">
                    <div class="recommended-channel-icon">
                        <img
                            src="https://yt3.ggpht.com/ytc/AKedOLTxu9m0QwKvcBTYWtlj4e_RWqYOL87bJhGm_fsOug=s88-c-k-c0x00ffffff-no-rj"
                            alt=""
                        />
                    </div>

                    <h3 class="recommended-channel-title">Chicago Auto Pros</h3>

                    <button class="recommended-channel-subscribe btn">
                        Subscribe
                    </button>
                </div>
            </div>
        </section>
        <!-- End of recommended channels section -->
    </div>
    <!-- End of main content container -->
</main>
<!-- End of main content -->
