<!-- Start Slider Area -->
<div class="slider-area">
    <div class="home-slider owl-carousel owl-theme">
        <div class="slider-item bg-item1">
            <div class="container">
                <div class="slider-content">
                    <span>Welcome to</span>
                    <h1>Renegade Automotive Detailing</h1>
                    <p>
                        Restore the glory of any vehicle with our detailing
                        services. Whether you need a deep clean or our Paint
                        Correction service to remove minor scratches and swirls
                        we've got you covered!
                    </p>
                    <div class="slider-btn">
                        <a
                            href="https://renegadeautomotivedetailing.simplybook.me/v2/#book"
                            target="__blank"
                            class="get-btn"
                            >Get Started</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Slider Area End -->

<!-- Start Choose Area -->
<div class="choose-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Why Choose Us?</span>
            <h2>We Have The Experience To Give You The Best</h2>
        </div>

        <div class="row pt-45">
            <div class="col-lg-4 col-sm-6">
                <div class="choose-card">
                    <div class="choose-icon one-bg">
                        <i class="bx bx-help-circle"></i>
                    </div>

                    <div class="content">
                        <h3>Expert Classifications</h3>
                        <p>
                            We have experience and know-how to give your vehicle
                            a complete makeover
                        </p>
                        <a routerLink="/pricing" class="read-more-btn"
                            ><i class="left-icon bx bx-right-arrow-alt"></i>
                            Read More
                            <i class="right-icon bx bx-right-arrow-alt"></i
                        ></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="choose-card">
                    <div class="choose-icon two-bg">
                        <i class="bx bx-time"></i>
                    </div>

                    <div class="content">
                        <h3>Expert Communication</h3>
                        <p>
                            We give frequent updates and stay within touch of
                            any questions even while working
                        </p>
                        <a routerLink="/pricing" class="read-more-btn"
                            ><i class="left-icon bx bx-right-arrow-alt"></i>
                            Read More
                            <i class="right-icon bx bx-right-arrow-alt"></i
                        ></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 offset-lg-0 offset-sm-3">
                <div class="choose-card">
                    <div class="choose-icon three-bg">
                        <i class="bx bx-bulb"></i>
                    </div>

                    <div class="content">
                        <h3>Services by Experts</h3>
                        <p>
                            Our goal is to make you fall in love with your
                            vehicle all over again
                        </p>
                        <a routerLink="/pricing" class="read-more-btn"
                            ><i class="left-icon bx bx-right-arrow-alt"></i>
                            Read More
                            <i class="right-icon bx bx-right-arrow-alt"></i
                        ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Choose Area End -->

<!-- Start About Area -->
<div class="about-area pb-70">
    <div class="container">
        <app-price-catalog></app-price-catalog>
        <section id="brands">
            <div class="wrapper">
                <div class="cp-brands-banner">
                    <ul class="cp-brands-list">
                        <li class="cp-brand-item" id="mytee">
                            <a class="cp-brand-link" href="/">
                                <img
                                    src="https://cdn.shopify.com/s/files/1/1352/8413/t/21/assets/pf-2ffe7a83-c652-4322-b24d-d9ba5c517aa2--mytee.png?35165"
                                    alt="mytee"
                                    title="Mytee"
                                />
                            </a>
                        </li>

                        <li class="cp-brand-item" id="gtechniq">
                            <a class="cp-brand-link" href="/">
                                <img
                                    src="https://images.squarespace-cdn.com/content/v1/5bf9ab05506fbeeca9ea72ce/1547651432114-HMCL2HXUMTK8ZLRM0QJD/red+leters-PNG.png"
                                    alt="gtechniq"
                                    title="Gtechniq"
                                />
                            </a>
                        </li>

                        <li class="cp-brand-item" id="carpro">
                            <a class="cp-brand-link" href="/">
                                <img
                                    src="https://cdn02.plentymarkets.com/zzgzvodn5a8r/frontend/carpro-auto-protect-shop.png"
                                    alt="carpro"
                                    title="Carpro"
                                />
                            </a>
                        </li>

                        <li class="cp-brand-item" id="chemicalguys">
                            <a class="cp-brand-link" href="/">
                                <img
                                    src="https://www.aeainvestors.com/wp-content/uploads/chemical-guys-aea-logo.png"
                                    alt="chemical guys"
                                    title="Chemical Guys"
                                />
                            </a>
                        </li>

                        <li class="cp-brand-item" id="bissell">
                            <a class="cp-brand-link" href="/">
                                <img
                                    src="https://upload.wikimedia.org/wikipedia/en/thumb/4/4a/Bissell_logo.svg/1200px-Bissell_logo.svg.png"
                                    alt="bissell"
                                    title="Bissell"
                                />
                            </a>
                        </li>

                        <li class="cp-brand-item" id="aero303">
                            <a class="cp-brand-link" href="/">
                                <img
                                    src="https://www.goldeagle.com/wp-content/uploads/2017/10/303-brand-logo-353x200.png"
                                    alt="Aero 303"
                                    title="Aero 303"
                                />
                            </a>
                        </li>

                        <li class="cp-brand-item" id="rupes">
                            <a class="cp-brand-link" href="/">
                                <img
                                    src="https://logodix.com/logo/1946030.png"
                                    alt="Rupes"
                                    title="Rupes"
                                />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- Start Testimonials Area -->
        <div class="testimonials-area testimonials-bg pt-100 pb-70">
            <div class="container">
                <div class="section-title text-center">
                    <span>Testimonials</span>
                    <h2>What Our Clients Say About Us</h2>
                </div>

                <div class="testimonials-slider pt-45 owl-carousel owl-theme">
                    <div class="testimonials-item">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-6">
                                <div class="testimonials-content">
                                    <h3>Jessica J.</h3>
                                    <span>Interior & Exterior Detail</span>
                                    <p>
                                        Had both of our cars detailed by Keagan.
                                        He did an amazing job! He definitely
                                        takes passion in his work. Reasonably
                                        priced. I will definitely be using him
                                        again in the future.
                                    </p>
                                    <p>
                                        <span
                                            class="stars"
                                            style="
                                                color: orange;
                                                font-size: 1.4em;
                                            "
                                            >&#9733;&#9733;&#9733;&#9733;&#9733;</span
                                        >
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-6">
                                <div class="testimonials-img">
                                    <img
                                        src="../../../../assets/img/Jessica.jpg"
                                        alt="Images"
                                    />

                                    <div class="quote-text">
                                        <i class="flaticon-left-quote"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="testimonials-item">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-6">
                                <div class="testimonials-content">
                                    <h3>Jeff</h3>
                                    <span
                                        >Ceramic Coating & Interior & Exterior
                                        Detail</span
                                    >
                                    <p>
                                        Just got my car detailed by them my
                                        expectations were blown away! Very good
                                        and professional job. Will be coming
                                        here again!
                                    </p>
                                    <p>
                                        <span
                                            class="stars"
                                            style="
                                                color: orange;
                                                font-size: 1.4em;
                                            "
                                            >&#9733;&#9733;&#9733;&#9733;&#9733;</span
                                        >
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-6">
                                <div class="testimonials-img">
                                    <img
                                        src="../../../../assets/img/Jeff.jpg"
                                        alt="Images"
                                    />

                                    <div class="quote-text">
                                        <i class="bx bxs-quote-left"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonials Area End -->
    </div>
</div>
