<div class="tos">
    <h2>Booking Terms & Conditions</h2>
    Customers should remove all personal belongings, money and other significant
    items from their vehicle prior to any type of detailing RenegadeDetail.com
    will not accept any liability for any loss or damage to any personal
    property including the vehicle being serviced, any belongings contained
    inside of the vehicle or to the location of service. Assure that your
    vehicle is being serviced in a lawful and safe area and if you feel
    otherwise please communicate your concerns with the technician. All vehicles
    are cleaned at the customers own risk and must be able to withstand normal
    cleaning processes. RenegadeDetail.com or its vendors do not accept
    liability for discharged batteries during or after the service has been
    completed. Please inspect your vehicle after the service is rendered to
    assure all interior lights, headlights, or running lights have been turned
    off. We cannot guarantee any firm times when accepting your booking. Our
    detailing times are an estimate only. Each vehicle is different and may
    require more or less time to fulfill the detailing type We reserve the right
    to use any independent contractor to undertake your auto detailing and may
    need to change the detailer at short notice without penalty. Whilst every
    effort will be made to keep scheduled bookings to the requested arrival
    window, unforeseen circumstances may cause lateness and are done so without
    voiding our cancellation policy. We reserve the right to take a debit or
    credit card details to secure the booking. Debit/Credit cards shall be
    processed by Stripe.com. We reserve the right to alter or move a booking in
    line with staffing levels and/or weather conditions and /or machinery or
    equipment failure. All vehicles are cleaned at the customers own risk All
    orders placed require address, package, and vehicle condition verification.
    Service requests are not guaranteed at time of booking and may be cancelled
    at anytime at the sole discretion of RenegadeDetail.com. RenegadeDetail.com
    reserves the right to refuse service to anyone. RenegadeDetail.com reserves
    the right to refuse or deny customer demands above and beyond the booked
    detailing RenegadeDetail.com will not tolerate any verbal or physical abuse
    towards any of its staff under any circumstances and will take the relevant
    actions should any such behaviors be encountered
    <h2>Pricing Terms & Conditions</h2>
    We have a minimum call-out charge that varies by location.
    RenegadeDetail.com reserve the right to charge an hourly rate of $60 (or
    proportion thereof) for any work that is not within the boundaries of the
    booking A minimum 20% surcharge will be applied to all jobs that involve
    excessive pet hair, urine, vomit, blood, feces, or other hazardous
    materials. Our prices are based on detailing type, location, type of car and
    condition of the vehicle and will be advertised as a FROM price.
    RenegadeDetail.com reserves the right to charge each vehicle according to
    its condition, the type of vehicle and the customer location.
    RenegadeDetail.com reserves the right to amend any price during the
    detailing should it differ from the original estimate Prices online do not
    include any local and/or state taxes that apply to services. Taxes can be
    applied in: Alaska, Connecticut, Florida, Hawaii, Iowa, Kansas, Minnesota,
    Nebraska, New Jersey, New Mexico, Ohio, Pennsylvania, Tennessee, Utah,
    Washington D.C, Washington State, West Virginia, Wisconsin, Wyoming.
    <h2>Communications</h2>
    RenegadeDetail.com will send you SMS text messages to confirm your service
    request, provide information about the detailer matched to your job, and to
    conduct a customer satisfaction survey after the job is completed. Depending
    on your mobile phone service, you may incur costs from these SMS text
    messages from your mobile phone service provider. RenegadeDetail.com is not
    responsible for any of these potential costs. RenegadeDetail.com may provide
    your order request to any detailer within our network or out of our network
    to fulfill your request in a timely manner. When your service request is
    matched to a provider, your name, phone number, service address and vehicle
    information will be shared with that service provider. RenegadeDetail.com
    may call you directly to schedule your service or conduct a customer
    satisfaction survey. In the event of a canceled request, we may call you to
    inquire about your reasons for canceling. All inbound and outbound customer
    service calls may be recorded for quality assurance.
    <h2>Our Service Terms & Conditions</h2>
    We may ask you where you heard about RenegadeDetail.com in order to gauge
    our marketing strategies We may conduct customer satisfaction surveys We
    must have permission to hold a debit or credit card to secure a regular
    booking and we will charge the card after each visit. We reserve the right
    to charge a debit or credit card the full amount should the vehicles(s) not
    be available for cleaning and the booking has not been cancelled in advance
    (see cancellation policy)
    <h2>Cancellation Terms & Conditions</h2>
    We require 24 hours notice to cancel any booking/detailing service. Failure
    to provide 24 hours advance notice of cancellation will result in a minimum
    charge of 25% of the service cost. Same day appointments that are cancelled
    will incur a charge of 25% of the service cost. RenegadeDetail.com reserve
    the right to take full payment if a booking is cancelled on the day without
    prior agreement. RenegadeDetail.com reserves the right to alter or amend a
    booking time/date without penalty but wherever possible will let the
    customer know. RenegadeDetail.com reserves the right to alter a booking or
    move a booking in accordance to its staff levels, weather conditions and/or
    equipment failure without penalty to the company. Failure to be present at
    the time and location of the ordered service will result in the full value
    of the service being charged.
    <h2>Service Guarantee</h2>
    If there is probable and clear cause that the service technician did not
    fulfill the package as ordered or there is clear evidence of poor
    craftsmanship, we will at our cost refund or redo the uncompleted or
    unsatisfactory portion of the service. Cleaning or repairing the vehicle
    personally or professionally after the initial service without authorization
    from RenegadeDetail.com voids our Service Guarantee. Redos, refunds, or
    reimbursements will not be made after any unauthorized cleaning or repairs.
    Refusing a redo appointment for the unsatisfactory portion of your service
    limits any refunds to 20% of the value of your service. Failure to disclose
    at the time of booking any conditional issues that involve heavy stains,
    foul odors, human or animal biological waste, mold, mildew, chemical spills,
    chemical overspray or any other hazardous materials voids our service
    guarantee. No refunds, redos, or any additional work will be performed
    outside of the original package or estimate. Some issues may require
    services beyond those you ordered. Refusing the services recommended by
    customer service or your on-site technician may invalidate the service
    guarantee. Only services included in your order and additional services
    authorized by RenegadeDetail.com are covered under our service guarantee.
    Any services not authorized by RenegadeDetail.com are at customer's own
    risk. Payment is due at the completion of your service. Refusal or failure
    to pay for your service invalidates our service guarantee and any redo
    services or discounts are at the sole discretion of RenegadeDetail.com Any
    claims must be filed within 48 hours of the completion of the service by
    emailing (info@RenegadeDetail.com). Pictures of the unsatisfactory portion
    of the service must be emailed to info@RenegadeDetail.com within 24 hours of
    the claim being made.
</div>
