<div class="row align-items-center">
    <div class="col-lg-6 col-md-12">
        <div class="about-img">
            <img
                src="https://cdn11.bigcommerce.com/s-43370/images/stencil/660x660/products/42771/148633/UL-180__71056.1611942678.png?c=2"
                alt="Images"
            />

            <div class="about-img-shape">
                <div class="shape-1">
                    <img src="assets/img/about/shape1.png" alt="Images" />
                </div>
                <div class="shape-2">
                    <img src="assets/img/about/shape2.png" alt="Images" />
                </div>
                <div class="shape-3">
                    <img src="assets/img/about/shape2.png" alt="Images" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-12">
        <div class="about-content">
            <div class="section-title">
                <span>About Us</span>
                <h2>We Have 5+ Years of Detailing Experience for You</h2>
                <p>
                    Renegade Automotive Detailing specializes in paint
                    correction & Ceramic Coating. Our number one goal is to
                    bring out a deep luster and shine to the surface of our
                    client’s vehicles. Our technicians achieve this by
                    Performing various stages of paint correction ensuring the
                    surface is at its optimal best. <br />
                    <br />

                    The difference between wax and ceramic? Ceramic coating is
                    much higher in durability than wax. They resist heat, UV
                    rays, environmental contaminants & harsh detergents much
                    better than wax. Wax also just sits on the paint’s surface,
                    it does not create the chemical bond like ceramic coatings.
                    <br />
                    <br />

                    Ceramic coatings, are a man-made nanotechnology used for
                    space shuttles due to their heat insulation and
                    anti-corrosion properties. In terms of durability, they far
                    outrank any other protection for a vehicle and can last
                    between 1-6 years. This is something that no wax is capable
                    of. Additionally, they are not restricted to the paint
                    surfaces and can be used to protect almost any surface of
                    your vehicle.
                    <br />
                    <br />

                    At Renegade Automotive Detailing it is our ethos to ensure
                    that you have the best.
                </p>
            </div>

            <ul>
                <li>
                    <i class="bx bx-check-circle"></i> Customer Satisfaction
                </li>
                <li><i class="bx bx-check-circle"></i> Latest & Modern Shop</li>
                <li>
                    <i class="bx bx-check-circle"></i> Expertise Diagnostics
                </li>
                <li><i class="bx bx-check-circle"></i> Fair Pricing</li>
                <li><i class="bx bx-check-circle"></i> Expert Care</li>
            </ul>
        </div>
    </div>
</div>
<!-- About Area End -->

<!-- Start Pricing Area -->
<div class="pricing-area pricing-bg pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Our Most Popular Plans</span>
            <h2>We Are Always Ready to Give You the Best Price Benefits</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="pricing-card">
                    <div class="pricing-card-into color-bg1">
                        <i class="bx bx-diamond pricing-icon color-1"></i>
                        <h3 class="color-1">Standard Interior Detail</h3>

                        <div class="price-rate">
                            <p>Starting at:</p>
                            <h2 class="color-1">$ 99.99</h2>
                        </div>

                        <ul>
                            <li>
                                <i class="bx bx-check"></i> Interior & trunk
                                space vacuumed of all debris
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Deep Cleaning of all
                                interior surfaces
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Steam and vapor used
                                to clean hard stuck contaminants
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Trim restore &
                                protection application
                            </li>
                            <li>
                                <s
                                    >Carpets Shampooed and deep-cleaned with hot
                                    water</s
                                >
                            </li>
                            <li>
                                <s
                                    >Cloth seats are shampooed | leather seats
                                    cleaned with a leather conditioner and
                                    cleaner</s
                                >
                            </li>
                            <li>
                                <s>
                                    Stains in the headliner are removed gently
                                    with special detergents</s
                                >
                            </li>
                            <li>
                                ** A Ozone-treatment could be added on as a
                                service at an additional cost **
                            </li>
                        </ul>

                        <a
                            href="https://renegadeautomotivedetailing.simplybook.me/v2/#book"
                            target="__blank"
                            class="purchase-btn"
                            >Book Appointment</a
                        >
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="pricing-card">
                    <div class="pricing-card-into color-bg2">
                        <i class="bx bx-diamond pricing-icon color-2"></i>
                        <h3 class="color-2">Standard Exterior Detail</h3>

                        <div class="price-rate">
                            <p>Starting at:</p>
                            <h2 class="color-2">$ 89.99</h2>
                        </div>

                        <ul>
                            <li>
                                <i class="bx bx-check"></i> Complete wash using
                                the 2-bucket method
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Wheels & Tires
                                cleaned and dressed
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Undercarriage power
                                washed of dirt and road debris
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Towel dried and air
                                blasted
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Glass is cleaned for
                                a streak-free finish
                            </li>
                            <li><s> Clean and dress the engine bay</s></li>
                            <li>
                                <s>
                                    The vehicle is completely decontaminated
                                    with iron-x & claybar</s
                                >
                            </li>
                            <li>
                                <s>
                                    A one-step polish and 6 month ceramic
                                    coating is used to finish this service</s
                                >
                            </li>
                        </ul>

                        <a
                            href="https://renegadeautomotivedetailing.simplybook.me/v2/#book"
                            target="__blank"
                            class="purchase-btn"
                            >Book Appointment</a
                        >
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
                <div class="pricing-card">
                    <div class="pricing-card-into color-bg3">
                        <i class="bx bx-diamond pricing-icon color-3"></i>
                        <h3 class="color-3">
                            Interior & Exterior Standard Detail
                        </h3>

                        <div class="price-rate">
                            <p>Starting at:</p>
                            <h2 class="color-3">$ 139.99</h2>
                        </div>

                        <ul>
                            <li>
                                <i class="bx bx-check"></i> Complete wash using
                                the 2-bucket method
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Deep Cleaning of all
                                interior surfaces
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Everything from the
                                Standard Interior Detail
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Everything from the
                                Standard Exterior Detail
                            </li>
                            <li><s>Carpets Shampooed and deep-cleaned</s></li>
                            <li>
                                <s
                                    >Cloth seats are shampooed | leather seats
                                    cleaned with a leather conditioner and
                                    cleaner</s
                                >
                            </li>
                            <li>
                                <s>
                                    Stains in the headliner are removed gently
                                    with special detergents</s
                                >
                            </li>
                            <li><s> Clean and dress the engine bay</s></li>
                            <li>
                                <s>
                                    The vehicle is completely decontaminated
                                    with iron-x & claybar</s
                                >
                            </li>
                            <li>
                                <s>
                                    A one-step polish and 6 month ceramic
                                    coating is used to finish this service</s
                                >
                            </li>
                        </ul>

                        <a
                            href="https://renegadeautomotivedetailing.simplybook.me/v2/#book"
                            target="__blank"
                            class="purchase-btn"
                            >Book Appointment</a
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="pricing-card">
                    <div class="pricing-card-into color-bg1">
                        <i class="bx bx-diamond pricing-icon color-1"></i>
                        <h3 class="color-1">Premium Interior Detail</h3>

                        <div class="price-rate">
                            <p>Starting at:</p>
                            <h2 class="color-1">$ 179.99</h2>
                        </div>

                        <ul>
                            <li>
                                <i class="bx bx-check"></i> Interior & trunk
                                space vacuumed of all debris
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Deep Cleaning of all
                                interior surfaces
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Steam and vapor used
                                to clean hard stuck contaminants
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Trim restore &
                                protection application
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Carpets Shampooed
                                and deep-cleaned with hot water
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Cloth seats are
                                shampooed | leather seats cleaned with a leather
                                conditioner and cleaner
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Stains in the
                                headliner are removed gently with special
                                detergents
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Ozone Treatment
                                Included
                            </li>
                        </ul>

                        <a
                            href="https://renegadeautomotivedetailing.simplybook.me/v2/#book"
                            target="__blank"
                            class="purchase-btn"
                            >Book Appointment</a
                        >
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="pricing-card">
                    <div class="pricing-card-into color-bg2">
                        <i class="bx bx-diamond pricing-icon color-2"></i>
                        <h3 class="color-2">Premium Exterior Detail</h3>

                        <div class="price-rate">
                            <p>Starting at:</p>
                            <h2 class="color-2">$ 169.99</h2>
                        </div>

                        <ul>
                            <li>
                                <i class="bx bx-check"></i> Complete wash using
                                the 2-bucket method
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Wheels & Tires
                                cleaned and dressed
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Undercarriage power
                                washed of dirt and road debris
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Towel dried and air
                                blasted
                            </li>
                            <li>
                                <i class="bx bx-check"></i> The vehicle is
                                completely decontaminated with iron-x & claybar
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Glass is cleaned for
                                a streak-free finish
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Clean and dress the
                                engine bay
                            </li>
                            <li>
                                <i class="bx bx-check"></i> A one-step polish
                                and 6 month ceramic coating is used to finish
                                this service
                            </li>
                        </ul>

                        <a
                            href="https://renegadeautomotivedetailing.simplybook.me/v2/#book"
                            target="__blank"
                            class="purchase-btn"
                            >Book Appointment</a
                        >
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
                <div class="pricing-card">
                    <div class="pricing-card-into color-bg3">
                        <i class="bx bx-diamond pricing-icon color-3"></i>
                        <h3 class="color-3">Interior & Exterior Detail</h3>

                        <div class="price-rate">
                            <p>Starting at:</p>
                            <h2 class="color-3">$ 299.99</h2>
                        </div>

                        <ul>
                            <li>
                                <i class="bx bx-check"></i> Complete wash using
                                the 2-bucket method
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Deep Cleaning of all
                                interior surfaces
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Steam and vapor used
                                to clean hard stuck contaminants
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Everything from the
                                Premium Interior Detail
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Everything from the
                                Premium Exterior Detail
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Carpets Shampooed
                                and deep-cleaned with hot water
                            </li>
                            <li>
                                <i class="bx bx-check"></i> Cloth seats are
                                shampooed | leather seats cleaned with a leather
                                conditioner and cleaner
                            </li>
                            <li>
                                <i class="bx bx-check"></i> The vehicle is
                                completely decontaminated with iron-x & claybar
                            </li>
                            <li>
                                <i class="bx bx-check"></i> A one-step polish
                                and 6 month ceramic coating is used to finish
                                this service
                            </li>
                        </ul>

                        <a
                            href="https://renegadeautomotivedetailing.simplybook.me/v2/#book"
                            target="__blank"
                            class="purchase-btn"
                            >Book Appointment</a
                        >
                    </div>
                </div>
            </div>
        </div>
        <div class="about-area pt-50 pb-70">
            <div class="container">
                <div class="row align-items-center">
                    <div class="row price1">
                        <div class="col-lg-6">
                            <div class="pricing-card">
                                <div class="pricing-card-into color-bg1">
                                    <i
                                        class="bx bx-diamond pricing-icon color-1"
                                    ></i>
                                    <h3 class="color-1">
                                        Ceramic Coating | Paint Correction
                                    </h3>

                                    <div class="price-rate">
                                        <h4 class="color-1">
                                            Message for Pricing
                                        </h4>
                                    </div>

                                    <p>
                                        Pricing is based off size of vehicle,
                                        make & model, level of protection, and
                                        level of contamination. Time of
                                        completion is heavily dependent on the
                                        condition of the vehicle and size; this
                                        will be determined at the time of
                                        drop-off. Message us today using our
                                        contact page to get your quote within 24
                                        hours!
                                    </p>

                                    <a
                                        routerLink="/contact"
                                        class="purchase-btn"
                                        >Book Appointment</a
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
